{% extends "base.html.twig" %}

{% block body %}
<div class="container-fluid">
    <h1>Anonymous Gift</h1>

    <a class="btn btn-default" href="{{ path('fos_user_security_login') }}">Login</a><br><br>
    <a class="btn btn-default" href="{{ path('fos_user_registration_register') }}">Register</a>
</div>
{% endblock %}